@import 'main';

::-webkit-scrollbar {
  display:none;
}

.wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;

  .wrapper__Body {
    display: flex;
    flex-direction: row;
    width: $sectionsAmount * 100vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    background-color: $gray;
    transition: transform 1s;

    .wrapper__Section {
      width: 100vw;
      height: 100vh;
    }
  }
}

.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .nav__Item {
    font-size: 64px;
    font-weight: 800;
    color: $white;
    background-color: transparent;
    padding: 0 25px;
    position: relative;
    border: none;
    transition: color 0.5s ease;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      background-color: $darkGray;
      height: 100%;
      width: 100%;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.5s ease;
      z-index: -1;
    }

    &--active {
      color: $gold;
    }

    &:hover {
      color: $gold;
      &::before {
        transform: scaleX(1);
      }
    }

    &:focus {
      outline: 0;
      color: $gold;
    }
  }
}

.entrance__Img {
  width: 25vw;
  height: auto;
}


