@import 'main';

::-webkit-scrollbar {
  display:none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  &__LogoText {
    font-size: 32px;
    padding: 0 25px;
  }
}
.wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &__Body {
    display: flex;
    flex-direction: row;
    width: $sectionsAmount * 100vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    transition: transform 1s;
  }
  &__Section {
    width: 100vw;
    height: 100vh;
  }
}
.desc {
  text-align: justify;
  font-size: 24px;
}
.nav {
  padding: 25px 0;
  justify-content: space-around;
  &__Item {
    font-size: 64px;
    transition: color 0.25s ease-in-out, transform 0.25s ease-in-out;
    padding: 0 35px;
    font-weight: 700;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border-bottom: 5px solid $gold;
      height: 100%;
      width: 100%;
      transform: scaleX(0.25);
      transform-origin: left;
      transition: transform 0.25s ease-in-out;
      z-index: -1;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border-left: 5px solid $gold;
      height: 100%;
      width: 100%;
      transform: scaleY(0.5);
      transform-origin: bottom;
      transition: transform 0.25s ease-in-out;
      z-index: -1;
    }
    &--active {
      color: $gold;
    }
    &:focus {
      outline: 0;
      color: $gold;
    }
    &:hover {
      &::before {
        transform: scaleX(1);
      }
      &::after {
        transform: scaleY(1);
      }
      .nav__ItemText {
        &::before {
          transform: scaleX(1);
        }
        &::after {
          transform: scaleY(1);
        }
      }
    }
  }
  &__ItemText {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border-top: 5px solid $gold;
      height: 100%;
      width: 100%;
      transform: scaleX(0.25);
      transform-origin: right;
      transition: transform 0.25s ease-in-out;
      z-index: -1;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border-right: 5px solid $gold;
      height: 100%;
      width: 100%;
      transform: scaleY(0.5);
      transform-origin: top;
      transition: transform 0.25s ease-in-out;
      z-index: -1;
    }
  }
}
.entrance {
  &__Img {
    width: 25vw;
    height: auto;
  }
}


