@import 'params';

@keyframes init {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

body {
@include font;
}

.entrance {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  background-color: $darkGray;
  animation-name: init;
  animation-delay: 1.25s;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  .entrance__Img {
    margin: auto;
  }
}
