@import 'params';

@keyframes init {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

body {
  @include font;
  background-color: $darkGray;
}

.header {
  padding: 25px 0;
  z-index: 1;
  &__Content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__Logo {
    display: flex;
    align-items: flex-end;
  }
  &__LogoText {
    font-size: 32px;
    font-weight: 100;
    color: $white;
    line-height: 1;
    padding: 0 25px;
  }
  &__Img {
    max-width: 100%;
    height: auto;
    width: 100px;
  }
  &__Lang {
    display: flex;
  }
  &__LangItem {
    font-weight: 700;
    padding: 0 5px;
    &:hover {
      color: $lightGold;
      cursor: pointer;
    }
    &--active {
      color: $gold;
    }
  }
}

.wrapper {
  &__Body {
    background-color: $darkGray;
  }
  &__Section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.desc {
  &__Heading {
    font-size: 36px;
    font-weight: 700;
  }
  &__Footer {
    font-weight: 700;
    padding: 5px 0;
  }
}

.entrance {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  background-color: $darkGray;
  animation-name: init;
  animation-delay: 1.25s;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  z-index: 3;
  &__Img {
    margin: auto;
  }
}
