// colors
$gold: #BB9847;
$lightGold: #DDBA69;
$darkGold: #997625;
$darkGray: #333333;
$gray: #555555;
$lightGray: #777777;

//config
$sectionsAmount: 3;
$fontFamily: 'Raleway', sans-serif;
$fontSize: 14px;
$fontColor: #ffffff;

//mixins
@mixin font {
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $fontColor
}
